<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>CinéScope</title>
</head>
<body>
    <div style="text-align: center;">
        <h1 style="color: #8E0400;">Merci de vous être inscrit sur CinéScope !</h1>
        <p style="font-size: 18px;">Vous pouvez dès à présent vous connecter et commencer à partager vos films et séries préférés avec les autres membres de la communauté.</p>
        <p style="font-size: 18px;">À bientôt sur CinéScope !</p>
    </div>
</body>
</html>